<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
    <a class="navbar-brand text-white" href="/">Password Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link text-white" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/category">Add Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/view-category">View Category</a>
            </li>
            <li class="nav-item w-20">
                <img src="/images/avatar.png" title="<%= user %>" class="img-fluid">
            </li>
        </ul>

    </div>
    </div>
</nav>
