body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#login{
  background-color: #17a2b8;
  min-height: 100vw;
}
#login .container #login-row #login-column #login-box {
  margin-top: 20px;
  max-width: 600px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  margin-bottom: 30px;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.text-info {
  color: #484848!important;
  font-weight: 500;
}
.alert {
  padding: 0.5rem 1.25rem;
}
.w-20{
  max-width: 50px;
}
nav.btm {
  display: flex;
  justify-content: space-between;
}
.navbar-toggler-icon {
  width: 1rem;
  height: 1rem;
  vertical-align: baseline;
}
.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.84);
  border-color: rgba(255, 255, 255, 0.7);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 400px){
  form#viewForm {
    margin-top: 30px;
  }
}